@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body {
  min-width: 375px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff
}
img {
  max-width: 100%;
  height: auto
}
ul {
  padding: 0;
  margin: 0;
  list-style: none
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000
}
.button {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 17px 32px;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #e04e39;
  border: none;
  border-radius: 5px;
  cursor: pointer
}
.button:first-child {
  margin-left: 0
}
button {
  border: none
}
.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}
.container {
  max-width: 1230px;
  margin: 0 auto
}
@media (max-width:1365px) {
  .container {
    width: 89%
  }
}
.page-header {
  min-height: 90px
}
.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px
}
.page-header__toggle {
  display: none
}
@media (max-width:768px) {
  .page-header__wrapper {
    display: block
  }
  .page-header__mobile-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .page-header__toggle {
    display: block;
    position: relative;
    width: 31px;
    height: 23px;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer
  }
  .page-header__toggle--closed::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 31px;
    height: 2.42px;
    border-radius: 50px;
    background-color: #e04e39;
    -webkit-box-shadow: 0 10px 0 0 #e04e39,0 20px 0 0 #e04e39;
    box-shadow: 0 10px 0 0 #e04e39,0 20px 0 0 #e04e39
  }
  .page-header__toggle--opened::before {
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 11.5px);
    width: 23px;
    height: 2px;
    border-radius: 50px;
    background-color: #e04e39;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .page-header__toggle--opened::after {
    position: absolute;
    content: "";
    top: 50%;
    left: calc(50% - 11.5px);
    width: 23px;
    height: 2px;
    border-radius: 50px;
    background-color: #e04e39;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
}
.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:768px) {
  .page-header__navigation {
    display: none
  }
}
.open {
  display: block
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
@media (max-width:768px) {
  .navigation__list {
    display: block;
    margin-bottom: 30px
  }
}
.navigation__item {
  margin-left: 33px;
  text-align: center
}
@media (max-width:768px) {
  .navigation__item {
    margin: 0;
    padding: 10px 30px
  }
}
.navigation__link {
  color: #58595b
}
.navigation__link--active {
  color: #e04e39
}
@media (max-width:768px) {
  .navigation__link {
    position: relative;
    font-size: 18px
  }
  .navigation__link--active {
    color: #58595b
  }
  .navigation__link::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e04e39
  }
}
.navigation__buttons {
  -ms-flex-negative: 0;
  flex-shrink: 0
}
@media (max-width:1550px) {
  .navigation__buttons {
    margin-left: 50px
  }
}
@media (max-width:1200px) {
  .navigation__buttons {
    margin-left: 25px;
    text-align: end
  }
}
@media (max-width:768px) {
  .navigation__buttons {
    margin: 0;
    text-align: center
  }
}
.btn__useful {
  min-width: 174px
}
@media (max-width:1200px) {
  .button {
    padding: 12px 15px
  }
  .btn__useful {
    min-width: 141px
  }
}
.btn__text {
  position: relative;
  padding-left: 25px
}
.btn__text::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: url(../../img/icon-useful.svg) no-repeat
}
.btn__account {
  color: #58595b;
  background-color: #fff;
  border: 1px solid #58595b
}
@media (max-width:1530px) {
  .btn__useful {
    width: auto
  }
  .btn__account {
    width: auto
  }
}
.page-main__wrapper-bg {
  background-color: #f2f2f2
}
.page-main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px
}
@media (max-width:1200px) {
  .page-main__header {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
}
.title {
  margin: 0;
  font-size: 48px;
  line-height: 56px;
  font-weight: 700
}
.page-main__title {
  position: relative
}
.page-main__title::before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0;
  width: 125px;
  height: 4px;
  background-color: #e04e39
}
@media (max-width:1200px) {
  .title {
    margin: 0;
    font-size: 24px;
    line-height: 30px
  }
  .page-main__title {
    position: relative;
    margin-right: 100px;
    margin-bottom: 50px
  }
  .page-main__title::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 125px;
    height: 2px;
    background-color: #e04e39
  }
}
.page-main__button a {
  margin-left: 0
}
.page-main__wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 90px
}
.events__wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill,285px);
  gap: 30px
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 445px;
  max-width: 285px;
  padding: 15px;
  background-color: #fff
}
.events__card-image {
  margin-bottom: 23px
}
.card__description {
  line-height: 19px;
  font-weight: 500;
  margin: 0 0 10px
}
.card__date {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #58595b
}
.card__name {
  display: inline-block;
  margin: 0;
  margin-top: auto;
  color: #c39367
}
.profession {
  margin-bottom: 90px
}
.profession__title {
  margin: 0 0 50px
}
.profession-slider {
  width: 100%;
  height: 192px
}
.profession-slider-wrapper {
  max-height: 140px
}
.profession-slider-slide {
  position: relative;
  max-width: 285px;
  height: auto;
  border-radius: 5px
}
.profession-slider-slide:last-child {
  margin-right: 0!important
}
.profession-slider-text {
  position: absolute;
  top: 32px;
  left: 30px;
  z-index: 1
}
.profession-slider-pagination .swiper-pagination.swiper-pagination-bullets {
  max-width: 200px;
  margin: 0 auto;
  bottom: 5px;
  left: calc(50% - 100px)
}
.profession-slider-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 10px 0 0!important;
  background-color: #fff;
  border: 1px solid #000
}
.profession-slider-pagination .swiper-pagination-bullet:last-child {
  margin: 0!important
}
.profession-slider-pagination .swiper-pagination-bullet-active {
  background-color: #e04e39;
  border: none
}
.profession-slider-navigation {
  position: absolute;
  left: calc(50% - 100px);
  bottom: 0;
  width: 200px
}
.profession-slider-navigation .swiper-button-next::after,
.profession-slider-navigation .swiper-button-prev::after {
  font-size: 16px
}
.profession-slider-navigation .swiper-button-next {
  width: 22px;
  height: 12px
}
.profession-slider-navigation .swiper-button-next::before {
  position: absolute;
  content: "";
  right: 0;
  border: 1px solid #e04e39;
  border-width: 0 1px 1px 0;
  padding: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.profession-slider-navigation .swiper-button-next::after {
  position: absolute;
  content: "";
  right: 0;
  width: 22px;
  height: 1px;
  background-color: #e04e39
}
.profession-slider-navigation .swiper-button-prev {
  width: 22px;
  height: 11px
}
.profession-slider-navigation .swiper-button-prev::before {
  position: absolute;
  content: "";
  left: 0;
  border: 1px solid #000;
  border-width: 0 1px 1px 0;
  padding: 3px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg)
}
.profession-slider-navigation .swiper-button-prev::after {
  position: absolute;
  content: "";
  right: 0;
  width: 22px;
  height: 1px;
  background-color: #000
}
.page-footer {
  background-color: #58595b
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300
}
.signature {
  width: 237px
}
.page-footer__signature {
  margin-right: 358px
}
@media (max-width:768px) {
  .page-footer__signature {
    margin-right: 30px
  }
}
.signature__text {
  margin: 0
}
.contacts__text {
  margin: 0;
  word-wrap: break-word
}